aside.sidebar
  //-
  .sidebar__nickname.text_bold Nickname
  .sidebar__separator.separator.separator_horizontal
  //-
  ul.sidebar__menu
    li.sidebar__menu-item
      a(href="#") Мои ноуты
    li.sidebar__menu-item
      a(href="#") Доступные мне
  .sidebar__separator.separator.separator_horizontal.separator_muted
  +button(exit)
