/**
 * Shadow
 *  $color - shadow color
 * $comprehensive - true for all-sides shadow and false for shifted-down shadow
 */
@mixin shadow($color, $comprehensive: true)
  box-shadow: 0 #{if($comprehensive, 0 15px 0, 10px 15px -10px)} $color

/**
 * Border
 *  $color - border color
 *  $sides - list of sides which need to be styled or null for all sides
 */
@mixin border($color, $sides...)
  @if length($sides) != 0
    @for $i from 0 to length($sides)
      border#{'-' + nth($sides, $i + 1)}: 1px solid $color
  @else
    border: 1px solid $color

/**
 * Transition
 *  $properties - So... It`s properties :D which need to have transition
 */
@mixin transition($properties...)
  transition-property: $properties
  transition-duration: .1s
  transition-timing-function: ease-out
