@font-face {
  font-family: 'Exo 2';
  src        : url(../fonts/Exo2-VariableFont_wght.ttf);
  font-style : normal;
}

@font-face {
  font-family: 'Exo 2';
  src        : url(../fonts/Exo2-Italic-VariableFont_wght.ttf);
  font-style : italic;
}
