<!-- Элемент списка -->
<div class="list__item px-4" id="unique-note-id">
  <div class="item__wrapper p-4 flex-centered-sides">
    <!-- Иконка заметки (Желательно svg) -->
    <div class="item__icon mr-3"></div>
    <!-- Небольшое описание -->
    <div class="item__data flex-grow-1">
      <div class="data__top flex-centered-sides">
        <div class="item__title h3">Заголовок заметки</div>
        <span class="item__modify-date text-muted ml-5">Вчера</span>
      </div>
      <div class="data__bottom">
        <div class="item__cathegory text-muted">Заметка</div>
        <!-- Значок "защищено", если заметка имеет защиту (Желательно svg) -->
        <div class="item__is-protected"></div>
      </div>
    </div>
  </div>
</div>
<!-- Элемент списка end -->
