<!-- One item in the strip -->
<div class="strip-item px-4">
  <div class="item-inner p-4 flex-centered-sides">
    <!-- Note icon (svg preferably) -->
    <div class="icon mr-3"></div>
    <!-- Some details about a note -->
    <div class="data">
      <div class="top flex-centered-sides">
        <div class="note-title h3">Заголовок заметки</div>
        <span class="date-m text-muted ml-5">Вчера</span>
      </div>
      <div class="bottom">
        <div class="cathegory text-muted">Заметка</div>
        <!-- If a note with protection must be an icon here (svg preferably) -->
        <div class="protected"></div>
      </div>
    </div>
  </div>
</div>
<!-- One item in the strip end -->
