extends general

block includes
  include ../components/field-row
  include ../components/button

block content
  .auth__container.container.content_center
    .auth

      //- Left side
      .py-5
        h1.my-0= site_name

      .auth__separator.separator.separator_vertical

      //- Right side
      .py-5
        h3.mt-0.text_center= title
        block form
