extends general

block content
  .auth__container.u-container.u-content_center
    .auth

      //- Left side
      .u-padding-y-5
        h1.u-margin-y-0= siteName

      .auth__separator.o-separator.o-separator_vertical

      //- Right side
      .u-padding-y-5
        h3.u-margin-t-0.u-text_center= title
        block form
