include ../components/loader
include ../components/button
include ../components/field-row
include ../components/color-select

block consts
  - const siteName = 'SkyNotes'

block vars
  - let title = null

doctype html
html(lang='ru')
  head
    //- Meta
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    //- CSS
    link(rel='stylesheet', href='./assets/css/main.css')

    //- JS
    block head-js

    //- Favicon
    link(rel='shortcut icon', href='../favicon.ico', type='image/x-icon')

    //- Title
    title= siteName + (title && ` | ${title}`)
  body
    block content
