block consts
  -
    const site_name = 'SkyNotes'

block view-vars

block vars
  -
    let title = null
    let body_classes = ''
    let bg_dark = false

block includes

include ../mixins/page-js

doctype html
html(lang="ru")
  head
    //- Meta
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    //- CSS
    link(rel="stylesheet", href="./assets/css/main.css")

    //- JS
    script(defer, type="module", src="./assets/js/general.js")
    block js

    //- Favicon
    link(rel="shortcut icon", href="../favicon.ico", type="image/x-icon")

    //- Title
    title= title ? `${site_name} | ${title}` : site_name
  body(class=bg_dark ? 'bg_dark' : '')
    block content
