.color-select {
  position: relative;

  &__selected {
    &-value {
      display    : flex;
      align-items: center;
      //
      padding    : .5rem;
      //
      line-height: 1em;
      //
      cursor     : pointer;
    }

    &-text {
      margin: 0 .5rem;
      //
      color : lighten($color: $darkest-2, $amount: 45%);
    }

    &-color {
      width        : 1.6rem;
      height       : 1.6rem;
      margin       : 0 .5rem;
      //
      border-radius: .8rem;

      &[data-no-color] {
        display: none;
      }
    }
  }

  &__drop-down {
    position        : absolute;
    left            : .5rem;
    top             : calc(100% + 1rem);
    //
    display         : none;
    //
    padding         : 1.5rem;
    //
    color           : $light-1;
    //
    background-color: darken($color: $darkest-2, $amount: 5%);
    border-radius   : .4rem;
    //
    z-index         : 99;

    &::before {
      content            : '';
      //
      position           : absolute;
      left               : .4rem;
      top                : -1rem;
      //
      border-style       : solid;
      border-width       : 0 1rem 1rem 1rem;
      border-color       : transparent;
      border-bottom-color: darken($color: $darkest-2, $amount: 5%);
    }

    &[data-shown] {
      display: block;
    }

    &_to-left {
      left : unset;
      right: calc(100% - 3.2rem);
    }

    &_to-left::before {
      left : unset;
      right: .4rem;
    }
  }

  &__list {}

  &__item {
    display    : flex;
    align-items: center;
    //
    padding    : .4rem 0;
    //
    opacity    : .8;
    //
    cursor     : pointer;

    @include transition(.15s, ease, opacity);

    &:hover {
      opacity: 1;
    }

    &-text {
      margin-left: .8rem;
    }
  }

  &__marker {
    width        : 1.6rem;
    height       : 1.6rem;
    //
    border-radius: .8rem;
  }
}
