.field-row {
  display       : flex;
  flex-direction: column;
  //
  width         : 100%;

  &__label {
    margin-bottom: .5em;
  }

  &__error {
    display       : none;
    //
    margin-top    : .5rem;
    //
    color         : $red;
    font-size     : .85em;
    letter-spacing: .05em;

    &_shown {
      display: block;
    }
  }

  &+& {
    margin-top: 2rem;
  }
}
