.input {
  padding  : .5em 1em;
  //
  font-size: 1.4rem;

  &_text {
    background-color: transparent;
    //
    border-bottom   : .1rem solid transparentize($color: $primary, $amount: .75);
    //
    @include transition(.15s, ease, border-color);

    &:focus {
      border-color: $primary;
    }
  }
}
