.c-sidebar {
  flex-shrink : 0;
  //
  width       : 20rem;
  margin-right: 6rem;
  //
  font-size   : 1.7rem;

  &__nickname {
    font-size: 3.2rem;
  }

  &__separator {
    margin: 1.6rem 0;
  }

  &__menu {
    margin: 3.2rem 0;

    &-item {
      &+& {
        margin-top: 1.6rem;
      }
    }
  }

  &__exit {
    margin-top: 1.6rem;
  }

  @media screen and (max-width: 709px) {
    width        : 100%;
    margin-right : 0;
    margin-bottom: 6rem;
    //
    text-align   : center;
  }
}
