mixin button(props)
  -
    props.classes || (props.classes = '')
    if (props.fluid) props.classes += ' button_fluid'

  input.button(class=props.classes.trim(), type=props.type || 'button', value=props.text)
