.auth {
  display        : flex;
  justify-content: space-around;
  align-items    : center;

  &__container {
    min-height: 100vh;
    //
    margin: 2.5rem 0;
  }

  &__post-text {
    color: darken($color: $lighter-2, $amount: 25%);
  }

  @media screen and (max-width: 734px) {
    flex-direction: column;

    &__separator {
      display: none;
    }
  }
}
