extends layouts/general

block vars
  - let bg_dark = true

block content
  .p-5
    h1 Здесь пока что ничего нет
    p Но есть другие страницы, на которые вы можете взглянуть
    ul.mt-3
      li
        a(href="./login.html") Вход
      li
        a(href="./register.html") Регистрация
      li
        a(href="./home.html") Домашняя страница пользователя
