/**
 * Left side of the app
 */
.notes-wrapper
  border-width: 2px !important
  @include border($active, left, right)
  @include shadow($inactive)
.notes-strip
  max-height: 678px
  overflow: auto
  &::-webkit-scrollbar
    display: none
.strip-item
  position: relative
  z-index: 0
  @include transition(background-color, color)
.strip-item:nth-child(odd)
  background-color: lighten($inactive, 10%)
.strip-item:hover
  background-color: $active
  color: $light
  cursor: pointer
  z-index: 1
  @include shadow($active)
  .text-muted
    color: $inactive !important
