/** Color sheme */
$white:         rgba(255, 255, 255, 1)
$bluishWhite:   rgba(245, 245, 255, 1)
$lightGray:     rgba(206, 212, 218, 1)
$blue:          rgba(47, 132, 243, 1)
$lighterBlue:   rgba(67, 146, 249, 1)
$marengo:       rgba(76, 88, 102, 1)
$black:         rgba(33, 37, 41, 1)

/** Colors alias */
$light:         $bluishWhite
$dark:          $marengo
$inactive:      $lightGray
$accent:        $blue
$active:        $lighterBlue
$exude:         $black
