extends layouts/general

block view-vars
  - const view_title = 'Мои ноуты'

block vars
  -
    let title = 'Мои ноуты'
    let bg_dark = true

    let logoutLoader = {
      id: 'logout-loader'
    }

    let notesLoader = {
      id: 'notes-loader',
      shown: true
    }

    let color_select = {
      classes: 'notes__color-select',
      items: [
        {
          title: 'Любой'
        },
        {
          title: 'Желтый',
          color: '#efda20'
        },
        {
          title: 'Лаймовый',
          color: '#daef20'
        },
        {
          title: 'Бирюзовый',
          color: '#20daef'
        },
        {
          title: 'Розовый',
          color: '#ef20da'
        },
      ]
    }

block includes
  include components/button
  include components/note
  include components/color-select

block js
  +page-js('home', true)

block content
  +loader(logoutLoader)
  .main-container.container.container_large
      include includes/sidebar
      main.page-view.page-view_home
        .page-view__header= view_title
        .page-view__content
          .notes
            .notes__add-form
            .notes__control-panel
              .notes__search-box.notes__control
                input#js-search-query.notes__search-input.input.input_text.input_sm(type="text", name="query", placeholder="Что вам найти?")
                input.notes__search-button.button.button_sm(type="submit", value="Найти")
              .notes__color-filter.notes__control
                span.notes__color-filter-label Цвет:
                +color-select(color_select)
            .notes__items-wrapper.loader-box
              +loader(notesLoader)
              .notes__container
