extends layouts/general

block vars
  -
    let title = 'Мои ноуты'

    let colorItems = [
      { title: 'Любой' },
      { title: 'Желтый', color: '#efda20' },
      { title: 'Лаймовый', color: '#daef20' },
      { title: 'Бирюзовый', color: '#20daef' },
      { title: 'Розовый', color: '#ef20da' },
    ]

block head-js
  script(type='module', src='./assets/js/pages/home.force.js')
  script(type='module', src='./assets/js/pages/home.js', defer)

block content
  +loader({ id: 'logout-loader' })
  .main-container.u-container.u-container_large
      include includes/sidebar
      main.page.page_home
        .page__header= 'Мои ноуты'
        .page__content
          .notes
            form.notes__add-form.add-form.c-loader-box(action='#', method='POST')
              +loader({ id: 'add-form-loader' })
              .u-display-flex
                +field-row({ id: 'title', placeholder: 'Название ноута', classes: 'add-form__row-item add-form__title', })
              .u-display-flex
                textarea.add-form__content.add-form__row-item.o-input.o-input_text(name='content', placeholder='Контент ноута')
              .add-form__footer
                .add-form__row-item.add-form__color
                  span.add-form__color-label Цвет:
                  +color-select({ items: colorItems })
                +button({ type: 'submit', text: 'Создать', classes: 'o-btn--sm add-form__row-item add-form__submit' })
            .notes__control-panel
              .notes__search-box.notes__control
                input#js-search-query.notes__search-input.o-input.o-input_text.o-input_sm(type='text', name='query', placeholder='Что вам найти?')
                input.notes__search-button.o-btn.o-btn--sm(type='submit', value='Найти')
              .notes__color-filter.notes__control
                span.notes__color-filter-label Цвет:
                +color-select({ classes: 'notes__color-select', items: colorItems })
            .notes__items-wrapper.c-loader-box
              +loader({ id: 'notes-loader', shown: true })
              .notes__container
