extends layouts/general

block content
  .u-padding-5
    h1 Главной страницы пока что нет
    p Но есть другие страницы, на которые вы можете взглянуть
    ul.u-margin-t-3
      li.u-margin-b-1
        a(href='./login.html') Вход
      li.u-margin-b-1
        a(href='./register.html') Регистрация
      li.u-margin-b-1
        a(href='./home.html') Домашняя страница пользователя
