extends layouts/auth

block vars
  -
    let title = 'Login'

    let fields = [
      { id: 'login', label: 'Ваш логин:',  placeholder: 'Login' },
      { id: 'password', type: 'password', label: 'Ваш пароль:', placeholder: 'Password' },
    ]

block head-js
  script(type='module', src='./assets/js/pages/login.force.js')
  script(type='module', src='./assets/js/pages/login.js', defer)

block form
  form.auth__form.c-loader-box(action='#', method='POST')
    +loader({ id: 'login-loader' })
    each field in fields
      +field-row(field)
    +button({ type: 'submit', text: 'Войти', classes: 'o-btn--fluid u-margin-t-4' })
  p.u-margin-t-2.auth__post-text
    | Если у вас еще нет аккаунта, можете&nbsp;
    a(href='/register.html') создать
    | &nbsp;его
