extends layouts/auth

block vars
  -
    let title = 'Login'
    let bg_dark = true

    let fields = [
      {
        id: 'login',
        name: 'login',
        label: 'Ваш логин:',
        placeholder: 'Login',
      },
      {
        id: 'password',
        name: 'password',
        type: 'password',
        label: 'Ваш пароль:',
        placeholder: 'Password',
      },
    ]

    let submit = {
      type: 'submit',
      text: 'Войти',
      classes: 'mt-4'
    }

block js
  +page-js('login', true)

block form
  form.auth__form(action="#", method="POST")
    each field in fields
      +field-row(field)
    +button(submit)
  p.mt-2.auth__post-text Если у вас еще нет аккаунта, можете <a href="/register">создать</a> его
