extends layouts/auth

block vars
  -
    let title = 'Регистрация'

    let fields = [
      { id: 'email', label: 'Почта:', placeholder: 'Email' },
      { id: 'nickname', label: 'Никнейм:', placeholder: 'Nickname' },
      { id: 'login', label: 'Логин:', placeholder: 'Login' },
      { id: 'password', type: 'password', label: 'Пароль:', placeholder: 'Password' },
      { id: 'password_confirmation', type: 'password', label: 'Повторите пароль:', placeholder: 'Password' },
    ]

block head-js
  script(type='module', src='./assets/js/pages/register.js', defer)

block form
  form.auth__form.c-loader-box(action='#', method='POST')
    +loader({ id: 'register-loader' })
    each field in fields
      +field-row(field)
    +button({ type: 'submit', text: 'Зарегистрироваться', classes: 'o-btn--fluid u-margin-t-4' })
  p.u-margin-t-2.auth__post-text
    | Если у вас уже есть аккаунт&nbsp;
    a(href='/login.html') войдите
    | &nbsp;в него
