-
  let exit = {
    text: 'Выйти',
    fluid: true,
    classes: 'sidebar__exit'
  }

aside.sidebar
  //-
  .sidebar__nickname.text_bold Nickname
  .sidebar__separator.separator.separator_horizontal
  //-
  ul.sidebar__menu
    li.sidebar__menu-item
      a(href="./home") Мои ноуты
    li.sidebar__menu-item
      a(href="./shared-to-me") Доступные мне
  .sidebar__separator.separator.separator_horizontal.separator_muted
  ul
    li
      a(href="#") Настройки
  +button(exit)
