aside.c-sidebar

  .c-sidebar__nickname.u-text_bold Nickname

  .c-sidebar__separator.o-separator.o-separator_horizontal

  ul.c-sidebar__menu
    li.c-sidebar__menu-item
      a(href='./home.html') Мои ноуты
    li.c-sidebar__menu-item
      a(href='./home.html') Доступные мне

  .c-sidebar__separator.o-separator.o-separator_horizontal.o-separator_muted

  ul
    li
      a(href='#') Настройки

  +button({ text: 'Выйти', classes: 'c-sidebar__exit o-btn_fluid' })
