@font-face {
  font-family: 'RobotoSlab';
  src: url('assets/fonts/RobotoSlab_VF_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  src: url('assets/fonts/OpenSans_VF_wdth-wght.ttf') format('truetype');
}
