*,
*::before,
*::after {
  box-sizing: border-box;
  //
  padding: 0;
  margin: 0;
  //
  outline: none;
  border: none;
  box-shadow: none;
}

html {
  font-family: 'Segoe UI', sans-serif;
  font-size: 10px;
}

input {
  font-family: 'Segoe UI', sans-serif;
}

body {
  font-size: 1.6rem;
}

p {
  margin: 1.5rem 0;
}

a {
  color: #51b5d4;
  text-decoration: none;
  //
  transition: color .1s ease;

  &:hover {
    color: #0983a2;
  }
}