*,
*::before,
*::after {
  box-sizing: border-box;
  //
  padding: 0;
  margin: 0;
  //
  outline: none;
  border: none;
  box-shadow: none;
}

html {
  font-family: OpenSans, sans-serif;
  font-size: 10px;
}

input, textarea {
  font-family: OpenSans, sans-serif;
}

body {
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, .style-header {
  font-family: RobotoSlab, sans-serif;
}

h5 {
  font-variation-settings: 'wght' 400;
  font-size: 2rem;
}

p {
  margin: 1.5rem 0;
}

a {
  color: #51b5d4;
  text-decoration: none;
  //
  transition: color .1s ease;
  cursor: pointer;

  &:hover {
    color: #0983a2;
  }
}
