:root {

  // COMMON
  --black: #000000;
  --white: #ffffff;
  --white-25: #ffffff80;

  // GRAY
  --gray-90: #333333;
  --gray-90-08: #33333314;
  --gray-80: #585858;
  --gray-50: #8E8E8E;
  --gray-30: #E2E2E2;
  --gray-15: #F2F2F2;
  --gray-10: #F9F7F7;
  --gray-10-08: #F9F7F714;

  // BLUE
  --blue-90: #252A34;
  --blue-80: #3C414A;
  --blue-50: #375CBB;
  --blue-40: #5D83E4;
  --blue-10: #E2E8F6;

  // RED
  --red-60: #DE2753;
  --red-10: #F9E4E9;

}
