:root {

  // Color - black & white
  --white: #ffffff;

  // Color - blue
  --blue-00: #294b6e;
  --blue-10: #375cbb;
  --blue-20: #6e9df3;
  --blue-50: #6283a3;
  --blue-60: #86a5cb;
  --blue-70: #e1e9ff;
  --blue-80: #e2e8f6;
  --blue-90: #f5f5ff;

  // Color - cyan
  --cyan-10: #0093c4;
  --cyan-20: #06b9eb;

  // Color - red
  --red-10: #de2753;
  --red-60: #f9e4e9;





  // Aliases
  --primary_muted: var(--blue-60);
  --primary_light: var(--blue-80);
  --primary: var(--blue-20);
  --primary_dark: var(--blue-10);

  --secondary: var(--blue-50);
  --secondary_dark: var(--blue-00);





  // Links
  --c-link: var(--cyan-10);
  --c-link_active: var(--cyan-20);

  // Backgrounds
  --bg-lighter: var(--white);
  --bg-light: var(--blue-70);

  // Theme
  --c-info: var(--blue-10);
  --c-info_inactive: var(--blue-80);

  --c-danger: var(--red-10);
  --c-danger_inactive: var(--red-60);

  // General
  --c-text: var(--blue-00);

  --bg-body: var(--blue-90);
  --bg-popup: var(--blue-90);


}
